/* Add this CSS to your existing stylesheet or create a new one */
@font-face {
    font-family: 'Droid Arabic Naskh';
    src: url('../../../public/fonts/Droid.ttf') format('truetype');
  }
  
  .bold-title {
    font-family: 'Droid Arabic Naskh', sans-serif; /* Set font-family to Droid Arabic Naskh */
    font-weight: bold;
    font-size: 30px; /* Adjust the font size as needed */
    color: #0cb0ad; /* Set the font color to white for better contrast */
    background-color: #ffffff; /* Set the background color to a shade of red */
    padding: 10px 20px; /* Add padding for better spacing */
    border-radius: 30px; /* Add border-radius for rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
    animation: vibration 0.8s infinite alternate;
    width: 350px;
  }
  
  /* ... Rest of your CSS code ... */
  